@import url('https://fonts.cdnfonts.com/css/axiforma');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Axiforma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1920px;
   
}