.sign-in-form {
  width: 600px;
  height: 600px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (max-width: 614px) {
  .sign-in-form {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 418px) {
  .sign-in-form {
    width: 300px;
    height: 400px;
  }
}