.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;

  }
  
  @media (max-width: 1440px) {
    .sign-in-page {
      justify-content: center;
      margin: auto;
    }
    
    .card {
      margin-top: 20px;
    }
  }