.submit-form-field {
    margin: 16px 0;
}
.submit-form-field button {
    width: 100px;
}

@media screen and (max-width: 600px) {

    .submit-form-field button {
      width: 80px;
    }
  }