.App {
  max-width: 1920px;
  height: 100vh;
}
.app-header__container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.header-position {
  display: flex;
  justify-content: center;
  margin: auto;
}
.switch-theme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}
#light {
  background-color: #f4f4f4;
}

#dark {
  background-color: #353434;
  color: #f4f4f4;
}
#light .chat-message__container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#light .message-form__input{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 216, 216);
}
#dark .chat-message__container {
  background-color: rgb(36, 35, 35);
  box-shadow: rgba(201, 200, 200, 0.35) 0px 5px 15px;
}
#dark .message-content {
  background-color: #3e3d3d;
}
#light .title {
  border-right: 1px solid rgb(218, 216, 216);
}
#light p {
  border-bottom: 1px solid rgb(218, 216, 216);
}
#light .message-content {
  border: 1px solid rgb(218, 216, 216);
}